<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/all")
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.material.mobile.min.css" />
</head>
<body>
<div class="container body-content">
    @RenderBody()
    @RenderSection("SPAViews", required: false)
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/all")
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(document).ready(function () {
            var module = null;
            requirejs(["app"], function (app) {
                app.start();
            });
            requirejs(["router"], function (app) {
                    app.start();
                });
        }
        );
    </script>
</body>
</html>
